<div class="addProduct">
    <h1>Edit product</h1>
    <form action="/admin/edit-product" method="POST">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Golgappy" value={{product.title}}>
        </div>

        <div class="field">
            <label for="imgUrl">Image link</label>
            <input type="text" name="imgUrl" placeholder="google.com/golgappy" value={{product.imgUrl}}>
        </div>

        <div class="field">
            <label for="price">Price</label>
            <input type="text" name="price" placeholder="PKR 30" value={{product.price}}>
        </div>

        <div class="field">
            <label for="description">Description</label>
            <textarea name="description" rows="1">{{product.description}}</textarea>
        </div>

        <div class="field">
            <input type="hidden" name="prodId" value={{product._id}}>
            <button type="submit">Confirm changes</button>
        </div>
    </form>
</div>